@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import '_navbar';
@import '_footer';
@import '_header';
@import '_store';
@import '_testimonio';
@import '_contactos';
@import '_sucursales';
@import '_about';

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
    overflow-x: hidden;
	scroll-behavior: smooth;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../assets/cake1.jpeg) ;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Quicksand', sans-serif;
}

* {	
	text-decoration: none;
	outline: none;
	border: none;
	transition: all .2s linear;
  }
$font-weights:(
    regular: 400,
    bold: 700
);

%text{
	text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#ffffff;
    background: #5c4b49;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

li {
	a {
		&:hover {
			opacity: 0.8;
		}
	}
}
.card-body {
	a {
		font-size: 25px;
		@extend %text;
	}
}
.container {
	padding: 2rem;
}
.title {
	padding-top: 5rem;
	padding-bottom: 2rem;
	h1 {
		color: white;
		text-align: center;
		@extend %text;
	}
	p {
		color:white;
		font-size: small;
		text-align: center;
		@extend %text;
	}
}





